.short-message-store
	text-align: center
.message-box
	&.form
		text-align: left
		width: 500px
		margin: 50px auto
	&.mode
		color: #aaa
		margin: 0 0 20px 0
	&.mode-area
		position: relative
	&.submit-area
		margin: 20px 0 0 0
	&.send-area
		text-align: right
		margin: 10px 0 0 0
	&.textarea
		min-height: 200px
	&.submit
		width: 100%
	&.cancel
		position: absolute
		top: 0%
		right: 0
.message-list
	&.list
		margin: 0
		padding: 0 40px
		width: auto
		text-align: left
	&.message
		padding: 20px 40px
		float: none
		display: inline-block
		vertical-align: top
		text-align: left
		time
			padding-top: 20px
			display: block
			border-top: 1px solid #ccc
	&.footer a
		margin-right: 10px
