script src='/js/jquery.min.js'
script src='/js/bootstrap.min.js'
script src='/js/vue.min.js'
script src='/js/react.min.js'
script src='/js/react-dom.min.js'
script src='/js/lodash.min.js'
script src='/js/app.js'