script src='/js/jquery.min.js'
script src='/js/bootstrap.min.js'
script src='/js/react.min.js'
script src='/js/react-dom.min.js'
script src='/js/lodash.min.js'
script src='/js/marked.min.js'
script src='/js/codemirror.js'
script src='/js/mode/overlay.js'
script src='/js/mode/markdown/markdown.js'
script src='/js/mode/gfm/gfm.js'
script src='/js/mode/xml/xml.js'
script src='/js/mode/javascript/javascript.js'
script src='/js/mode/css/css.js'
script src='/js/mode/htmlmixed/htmlmixed.js'
script src='/js/display/placeholder.js'
script src='/js/lint/lint.js'
script src='/js/app.js'