doctype html
include header
body
  div.body-layout
    include message_list
include footer
coffee:
  $messenger = $('#messenger')

  ce = React.createElement

  MainComponent = React.createClass(
    postMessage: (message)->
      $.ajax(
        url: '/messages/new',
        type: 'post',
        data:
          message: message
      ).then((data) =>
        @loadMessages()
      ).fail((data) ->
        console.log(data)
      )
    loadMessages: ()->
      $.ajax(
        url: '/messages/index',
        type: 'get',
        dataType: 'json'
        data: {}
      ).done((data) =>
        @setState(messages: data.reverse())
      ).fail((data) ->
        console.log(data)
      )
    componentDidMount: ()->
      @loadMessages()
    app: ()->
      loadMessages: @loadMessages
      postMessage: @postMessage
    getInitialState: ()->
      messages: []
    render: () ->
      ce('div', { className: "commentBox" },
              ce(MessageFormComponent, { app: @app() }),
              ce(MessageListComponent, { app: @app(), messages: @state.messages }),
      )
  )

  MessageListComponent = React.createClass(
    render: () ->
      messages = []
      @props.messages.forEach((el, i)->
        messages.push ce(
                MessageComponent,
                { message: el.message, written_at: el.written_at }
        )
      )
      ce('ul', { className: "commentBox" }, messages)
  )

  MessageComponent = React.createClass(
    render: () ->
      ce('li', { className: "commentBox" },
              ce('div', { className: "messages body" }, @props.message),
              ce('time', { className: "messages time" }, @props.written_at)
      )
  )

  MessageFormComponent = React.createClass(
    onClick: (e)->
      e.preventDefault()
      @props.app.postMessage(@textarea().value).then ()=>
        @textarea().value = ''
    textarea: ()->
      ReactDOM.findDOMNode(@refs.messageArea)
    render: () ->
      console.log(@props)
      ce('form', { className: "commentBox" },
              ce('div', { className: "control-group" },
                      ce('textarea', { className: "form-control message-box textarea", ref: 'messageArea' })
              ),
              ce('div', { className: "message-box submit-area" },
                      ce('button', { className: "btn btn-primary btn-lg message-box submit", onClick: @onClick },
                              "Yap!"
                      )
              ),)
  )

  ReactDOM.render(
          ce(MainComponent, null),
          document.getElementById('react')
  )